<h1 style="text-align:center">Welcome to App </h1>

<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Hello</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-success" href="#" role="button">Sign Up!</a>
    </p>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>
<%= link_to 'articles listing', articles_path %>
<br><%= link_to 'about page', about_path%>
