<div id="page-content">
  <h1 style="text-align:center"> Welcome! </h1>

  <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4">My App</h1>
        <p class="lead">This page is first website self code</p>
        <hr class="my-4">
        <p>I hope everybody having good experience with my page</p>
        <p class="lead">
            <a class="btn btn-success" href="#" role="button">Sign Up!</a>
        </p>
        </div>
  </div>
</div>

